BOT_TOKEN=8689943788:AAFfmE62a4h-eLXYAcOXvSUgmkLs5KZZwts
CHANNEL_ID=@lvFaax5HzsxOTU0
ADMIN_ID=5528971195
DATABASE_URL=sqlite:///db.sqlite3
POST_TIME=10:00
TIMEZONE=Asia/Riyadh
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
SECRET_KEY=my-secret-key-2026
